* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(234, 255, 234);
    height: 120vh;
}

#form-header {
    margin-bottom: 2vh;
}

.form {
    margin-top: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.form-input {
    width: 50%;
}

.input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: white;
}

#save {
    margin-top: 2vh;
    width: 25%;
    align-self: center;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}

#save{
    background: rgb(48, 158, 136);
}

#save:hover {
    background: rgb(223, 244, 240);
}