.landing-page {
    margin-top: 20vh;
}

.statement {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.landing-paragraph {
    text-align: center;
    padding: 10px;
}

.sird {
    text-align: center;
}

.button-div {
    text-align: center;
    padding: 60px;
}

.landing-page-button {
    margin-top: 2vh;
    width: 25%;
    align-self: center;
    border: none;
    padding: 1rem;
}

.button-link {
    font-size: 1rem;
    color: inherit;
}

.landing-page-button:hover {
    background: rgb(48, 158, 136);
}








