/* .item-link {
    font-size: 100px;

} */

.landing-page {
    margin: 2rem;
    display: flex;
    flex-direction: column;

    
}


.landing-h1 {
    padding-left: 10rem;
    padding-right: 4rem;
    font-size: 4vh;
    

}

.landing-h2 {
    padding-right: 6rem;
    text-align: right;
    

}
.tree-icon {
    max-width: 3rem;
}

.button-div {
    padding-left: 10rem;
    padding-top: 2rem;
}

.landing-page-button {
    background-color: rgba(232, 161, 74, 0.988);
    height: 100px;
    width: 30rem;
}

a:visited {
    text-decoration: none;
    color: white;
}





.counter-div {
    padding-top: 6rem;
    margin-left: auto;
    margin-right: auto;
   
} 