.user-card {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(68, 67, 67);
    margin: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(242, 242, 242);
    align-items: center;
    min-width: 40%;
}

.user-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.user-chart::before {
    display: flex;
    height: 400px !important;
    width: 400px !important; 
    min-width: 20%;
}  

.button-link {
    font-size: 4vh;
    text-decoration: none;
}

.card-foot{
    display: flex;
    flex-direction: row;
}

.btn-trash, .btn-edit {
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.btn-trash {
    color: crimson;
    font-size: 2.7vh;
}

.btn-edit {
    color: deepskyblue;
    font-size: 3.1vh;

}

.counter-number {
    font-size: 3vh;
    font-weight: bold;
}